<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hisabkhata.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>খরচের হিসাব</name>
    <description>ব্যক্তিগত জমা-খরচ, বাজেট, সেভিংস গোল ও ধার-দেনার হিসাব রাখার অ্যাপ</description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
    <icon src="icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="icon.png" density="ldpi" />
        <icon src="icon.png" density="mdpi" />
        <icon src="icon.png" density="hdpi" />
        <icon src="icon.png" density="xhdpi" />
        <icon src="icon.png" density="xxhdpi" />
        <icon src="icon.png" density="xxxhdpi" />
    </platform>
</widget>
